body, h1, h2, h3, h4, h5, h6{
    font-family: 'Nunito', sans-serif;
}

.nav-link{
    color: #064635;
}

.nav-link:hover{
    color: #519259;
}

.nav-link:focus{
    color: #519259;
}

.bg-green{
    background-color: #064635;
}

.font-primary{
    font-family: 'Open Sans', sans-serif;
}

.font-secondary{
    font-family: 'Raleway', sans-serif;
}

.fs-smaller{
    font-size: smaller;
}